<h1>Sign up</h1>

<%= form_with model: @conducteur, url: conducteur_path do |form|  %>

    <% if form.object.errors.any? %>

        <% form.object.errors.full_messages.each do |message| %>

            <div><%= message %></div>
        
        <% end %>
        
    <% end %>

    <div>

        <%= form.label :nom %>
        <%= form.text_field :nom %>

    </div>

    <div>

        <%= form.label :prenom %>
        <%= form.text_field :prenom %>

    </div>

    <div>

        <%= form.label :age %>
        <%= form.text_field :age %>

    </div>

    <div>

        <%= form.label :type_permis %>
        <%= form.text_field :type_permis %>

    </div>

    <div>

        <%= form.label :email %>
        <%= form.email_field :email %>

    </div>

    <div>

        <%= form.label :password %>
        <%= form.password_field :password %>

    </div>

    <div>

        <%= form.label :password_confrimation %>
        <%= form.password_field :password_confrimation %>

    </div>

    <div>
        <%= form.submit "Sign up" %>
    </div>

    <%= link_to "back", root_path %>

<% end %>